RewriteEngine On

# Don't rewrite requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect /admin requests to admin/index.php
RewriteRule ^admin(/.*)?$ admin/index.php [QSA,L]

# All other requests go to user index.php
RewriteRule ^ index.php [QSA,L]